.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item > h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/***
*! ===================== MEDIA QUERIES (MEDIUM DEVICES) ========================
***/

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/***
*! ===================== MEDIA QUERIES (SMALL  DEVICES) ========================
***/

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

/* ================= MODAL ================= */

.portfolio__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.portfolio__modal-content {
  position: relative;
  background: var(--color-bg);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
  width: 90%;
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color-primary);
}

.modal-close:hover {
  transform: scale(1.1);
  color: #4db5ff;
}

.modal-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.tech-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.tech-stack li {
  background: var(--color-primary);
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  list-style: none;
}

.tech-badge {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.35rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  background: var(--color-bg-variant);
  border: 1px solid var(--color-primary-variant);
}

.tech-badge svg {
  font-size: 1rem;
}
